.root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 0 red;
    width: 100%;
    align-items: center;
}

.label {
    padding: 5px;
    margin: 5px;
}

.infoItem {
    font-size: 1.2rem;
}

.infoTitle {
    font-size: 1.6rem;
    font-weight: bolder;
}

.info {
    font-size: 1.3rem;
}

.infoContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
}
